*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: #68cdd5;
    height: 45rem;
}
.head img{
     margin: 1.5rem 0 0 1.5rem;
    width: 33px;
}
.banner{
width: 100%;
    text-align: center;
    padding-top: 4rem;
}
.content{
    width:72%;
    margin: 0 auto;
    padding-top: 4rem;
    font-size: 20px;
    color: #ffffff;
}
.bottom{
    margin-top: 3rem;
    font-size: 25px;
    color: #ffffff;

}
.left{
    float: left;
    width: 50%;
text-align: center;
}
.right{
    float: left;
    width: 50%;
    text-align: center;
}