*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
.main{
    background-color: #68cdd5;
    height: 55rem;
}
.head img{
     margin: 2.5rem 0 0 2.5rem;
    width: 5%;
}
.banner{
width: 100%;
    text-align: center;
    padding-top: 6rem;
}
.content{
    width:75%;
    margin: 0 auto;
    padding-top: 6rem;
    font-size: 20px;
    color: #ffffff;
}
.bottom{
    width: 75%;
    height: 8rem;
    margin: 0 auto;
    margin-top: 6rem;
    font-size: 25px;
    color: #ffffff;
}
.bottom img{
    width: 30%;
}
.left{
    float: left;
    text-align: center;
}

.right{
    float: right;
    text-align: center;
}
